body {
    background-color: grey;
    color: honeydew;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

table {
    text-align: center;
}

.container {
    width: 900px;
    margin: auto;
}

.container .tabel {
    width: 500px;
    margin: auto;
}